<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>GmTool({{.title}})</title>
      <link rel="stylesheet" href="./dist/index.css"   type="text/css" />
  </head>
  <body>
      <div class="page-header">
          <h3>GM工具<small>({{.zone}})</small></h3>
      </div>
      <div id="react-content"></div>
      <script src="./dist/common.js"></script>
      <script src="./dist/index.js"></script>
  </body>
</html>