{% set etcdvalue = item.value %}


BRedis="{{etcdvalue.redis}}"
BRedisDB={{etcdvalue.redis_db}}
BRedisDBAuth={{etcdvalue.redis_auth}}
BRedisRank="{{etcdvalue.redis}}"
BRedisRankDB={{etcdvalue.rank_redis_db}}
BRedisRankDBAuth={{etcdvalue.redis_auth}}
BShardId={{etcdvalue.shard_id}}
