{% set etcdvalue = item.value %}

[CommonConfig]
# [dev, prod]
runmode = "prod"

etcd_endpoint = {{etcdvalue.etcd_endpoint}}
# Etcd Root Path 注意以/开头 如 /a4k
etcd_root = {{etcdvalue.etcd_root}}

EnableHttpTLS = ""
HttpsPort = ":10443"
HttpCertFile = "conf/server.crt"
HttpKeyFile = "conf/server.key"

dynamo_region = "ap-southeast-1"
#Auth注册服务MongoDB的链接参数
dynamo_accessKeyID = {{etcdvalue.AWS_AccessKey}}
dynamo_secretAccessKey = {{etcdvalue.AWS_SecretKey}}

httpport = ":{{etcdvalue.httpport}}"


SentryDSN="https://8da8e90e803644f1b1f49ae30d3e6759:287862580d7a4bb6978c172b9dcec4e8@sentry.io/198044"

#选择使用哪种云存储
store_driver = "S3"

oss_endpoint = ""
oss_access_id = ""
oss_access_key = ""
oss_bucket=""

watch_key = "notice_watch"
s3_bucket_notice = "gonggao"

[LimitConfig]

[[LimitConfig.InternalIPs]]
from = "10.33.0.0"
to = "10.33.0.255"

[[LimitConfig.InternalIPs]]
from = "10.31.0.0"
to = "10.31.0.255"


[[LimitConfig.AdminIPs]]
from = "218.247.7.194"
to = "218.247.7.194"

[[LimitConfig.AdminIPs]]
from = "121.69.47.158"
to = "121.69.47.158"

[[LimitConfig.AdminIPs]]
from = "114.111.167.236"
to = "114.111.167.236"

limit_url_regex = ".*" # 这些url做限制（http header和ratelimit）
rate_limit_valid = true                 # 限制访问速度的开关
rate_limit_Average = 10                 # 限速每秒平均数量
rate_limit_Burst = 10                  # 限速每秒最多数量